.container {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.filmMain {
  width: 350px;
  margin: 1.66%;
  height: 350px;
  margin-bottom: 10vh;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  border-top: 1px solid transparent rgba(255, 255, 255, 0.1);
  border-left: 1px solid transparent rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px;
  background-clip: padding-box;
  /* box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.05); */
}

.epId {
  position: absolute;
  top: -60px;
  right: 0px;
  font-size: 16em;
  color: rgba(159, 204, 117, 0.0842);
  pointer-events: none;
  z-index: -1;
}

.content {
  transform: translateY(50px);
  opacity: 0;
  transition: 0.5s;
  /* z-index: 3; */
}

.content:hover {
  transform: translateY(0px);
  opacity: 1;
}

.filmTitle {
  font-size: 3em;
  height: 20vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* text-align: center; */
  padding: 10px;
  font-weight: 900;
  color: yellow;
}

.bold {
  font-size: 1.5em;
  padding-bottom: 12px;
  text-align: center;
}

.info {
  margin-top: 10px;
  font-size: 1em;
  text-align: center;

  /* font-weight: 400; */
}

@media (max-width: 1100px) {
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filmTitle {
    width: 100%;
  }
}
