* {
  margin: 0;
  font-family: "Jura", sans-serif;
  /* background-color: black; */
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  font-size: 4em;
}
body {
  /* background: url(https://i.redd.it/yykhu7vx98x41.png); */
  background: url(https://i.pinimg.com/originals/6e/3a/d0/6e3ad0f9192c1578842f5f78facbd229.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
}
.starwarImg {
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}

.starwarLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(29, 20, 44, 0.7);
  color: white;
  height: 10vh;
  font-weight: 700;
  font-size: 1.4em;
  z-index: 3;
}

.nav-links {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link:hover,
.nav-link:active {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  /* to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  } */
}

.nav-links-link {
  color: blanchedalmond;
  text-decoration-line: none;
}

.box {
  /* width: 100%; */
  height: 90vh;
  display: flex;
  margin-left: 2em;
  /* justify-content: center; */
  align-items: center;
  font-size: 2em;
}

.E404 {
  text-align: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .box {
    font-size: 1em;
    margin-left: 1em;
  }
  nav {
    font-size: 0.9em;
  }
}
